<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Saque</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
  <div class="form-container">
    <h2>Realizar Saque</h2>
    <form action="{{ url_for('saque', usuario=usuario) }}" method="POST">
      <input type="number" name="valor" placeholder="Valor" required>
      <button type="submit">Sacar</button>
    </form>
    <a href="{{ url_for('dashboard', usuario=usuario) }}" class="btn">Voltar ao Dashboard</a>
  </div>
</body>

</html>
